*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Poppins, sans-serif;
    font-size: 1.6em;
    background: #12141d;
}

/* ===== COMMON ===== */
a {
    text-decoration: none;
}

:root {
    --primary-color: #fbc331;
    --text-color: #152427;
}

.header,
.hero {
    font-family: Public Sans, sans-serif;
}

.section-title {
    font-family: Poppins, sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.15;
    color: #fff;
}

.section-heading {
    font-family: Poppins, sans-serif;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.22;
    color: #fff;
}

.section-desc {
    color: #c0c0c0;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.63;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 180px;
    height: 57px;
    border-radius: 99px;
    border: 1px solid var(--primary-color);
    text-align: center;
    font-family: Public Sans, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--primary-color);
    transition: 0.3s;
}

/* ===== HEADER ===== */
.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.navbar::after {
    position: absolute;
    bottom: 0;
    content: "";
    width: 100%;
    height: 1px;
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
}

.navbar__list {
    display: flex;
    column-gap: 1px;
}

.navbar__item {
    padding: 10px 18px;
}

.navbar__link {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    color: #ffffff;
    opacity: 0.6;
    transition: 0.3s;
}

.navbar__link:hover {
    color: #ffffff;
    opacity: 1;
}

.navbar__link-active {
    position: relative;
    color: #ffffff;
    opacity: 1;
}

.navbar__link-active::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -40px;
    background: #fbc331;
    z-index: 1;
}

.navbar-act__download:hover {
    color: #fff;
    background: var(--primary-color);
}

/* ===== HERO ===== */
.hero {
    margin-top: 60px;
}

/* hero left */
.hero__heading {
    margin-top: 43px;
    width: 465px;
    font-size: 7rem;
    font-weight: 800;
    line-height: 1.1;
    color: #fbc331;
}

.hero__heading-decor {
    font-weight: 300;
    color: #fff;
}

.hero__desc {
    margin-top: 20px;
    width: 341px;
    font-size: 1.8rem;
    line-height: 1.56;
}

.hero__action {
    display: flex;
    margin-top: 40px;
    column-gap: 43px;
}

.hero__action-btn {
    background: var(--primary-color);
    color: #fff;
}

.hero__action-btn:hover {
    background: transparent;
    color: var(--primary-color);
}

.hero-play {
    position: relative;
    display: flex;
    align-items: center;
}

.hero-play__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #c0c0c0;
}

.hero-play__img {
    padding-left: 5px;
}

.hero-play__title {
    font-family: Poppins, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    color: #fff;
}

.hero-play__decor {
    position: absolute;
    left: -7px;
}

.hero-play__title {
    margin-left: 15px;
}

.hero-play:hover .hero-play__title {
    color: var(--primary-color);
}

/* Hero Right */
.hero__media {
    position: relative;
}

.hero-box__img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}

.hero-box__img::after {
    --width-blur: 50%;

    position: absolute;
    top: calc(20% + 77px);
    left: 25%;
    content: "";
    width: var(--width-blur);
    height: var(--width-blur);
    border-radius: 340px;
    background: var(--primary-color);
    filter: blur(137px);
    z-index: -1;
}

.hero__media-img {
    width: 100%;
    border-radius: 110px;
    background: #c4c4c4;
}

.hero__media-img:nth-child(2) {
    margin-top: 77px;
}

/* ===== About Us ===== */
.about {
    margin-top: 140px;
}

.about__inner {
    display: flex;
    align-items: center;
    height: 600px;
    background: #1e2029;
    border-radius: 20px;
}

/* About Left */
.about__image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__img {
    width: 75%;
}

/* About Right */
.about__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about__title {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.about__title::before {
    content: "";
    width: 24px;
    height: 1px;
    background: #fff;
    z-index: 1;
}

.about__heading {
    position: relative;
    margin-top: 23px;
    width: 266px;
}

.about__heading::after {
    position: absolute;
    left: 0;
    bottom: -25px;
    content: "";
    width: 380px;
    height: 1px;
    background: #fff;
}

.about__heading-decor {
    color: var(--primary-color);
}

.about__desc {
    margin-top: 50px;
    width: 450px;
}

/* ===== FEATURE ===== */
.feature {
    padding-top: 160px;
}
/* Top */
.feature__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature__title {
    position: relative;
    text-align: center;
}

.feature__title::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -8px;
    justify-content: center;
    content: "";
    width: 42px;
    height: 1px;
    background: #fff;
}

.feature__heading {
    text-align: center;
    width: 800px;
    margin-top: 25px;
}

.feature__desc {
    margin: 20px 0 50px;
    width: 466px;
}

/* Bottom */
.feature__content {
    border-radius: 20px;
    padding: 52px 40px;
    background: #1e2029;
    height: 100%;
}

.feature__list {
    display: flex;
    column-gap: 12px;
}

.feature__link {
    padding: 12px 17px;
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: 6px;
    background: #2a2c34;
    color: #fff;
}

.feature__content-heading {
    margin-top: 90px;
    width: 260px;
    font-size: 4rem;
    font-weight: 600;
    line-height: 1.1;
    color: #fff;
}

.feature__content-desc {
    margin-top: 8px;
    width: 372px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.72;
    color: #777;
}

.feature__btn {
    margin-top: 70px;
    width: 193px;
    height: 50px;
    background-color: var(--primary-color);
}

.feature__btn-title {
    margin-right: 7px;
    font-family: Public Sans, sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    color: #fff;
}

.feature__media {
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url(../img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.feature__media-card {
    margin: 65px auto 56px;
    object-fit: cover;
    width: 60%;
}

/* ===== INTRO ===== */
.intro {
    margin-top: 162px;
}

/* intro top */
.intro__header {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.intro__heading {
    position: relative;
    width: 377px;
}

.intro__heading::after {
    position: absolute;
    right: 20px;
    top: 82px;
    content: "";
    width: 66px;
    height: 2px;
    background: #fff;
}

.intro__right {
    width: 50%;
    padding: 11px 15px;
}

.intro__desc {
    font-family: Public Sans, sans-serif;
    font-size: 1.8rem;
    max-width: 540px;
}

.intro__more {
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-top: 13px;
    color: #fff;
    transition: 0.3s;
}

.intro__more:hover {
    color: var(--primary-color);
}

.intro__more-text {
    font-family: Public Sans;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
    color: inherit;
}

/* intro video */
.intro__box-video {
    position: relative;
    margin-top: 60px;
    width: 100%;
    padding-top: 45%;
    background: #000;
    border-radius: 38px;
}

.intro__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 35px;
}
